@media screen and (min-width:450px){
    .menu{
        margin-left: 20px;
        margin-right: 20px
    }
}

@media screen and (max-width:449px){
    .menu{
        margin-left: 5px;
        margin-right: 5px
    }
}

